.slider-full {
    margin             : 0 auto;
    padding            : 0;
    width              : 100%;
    background-image   : url("/assets/images/slider-bg.svg");
    background-size    : 100%;
    overflow           : hidden;
    padding-bottom     : 0px;
    background-color   : #f7f6fc;
    background-repeat  : no-repeat;
    background-position: 0 -20px;
}

.inn-slider {
    display              : grid;
    grid-template-columns: 50% 50%;
    width                : 100%;
    max-width            : 1170px;
    margin               : 0 auto;
    position             : relative;
}

.slider-text {
    padding-top: 150px;
}

.inn-slider>div>h1 {
    font-size  : 44px;
    line-height: 60px;
    color      : #112f51;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}

.hr {
    background: #001c49;
    width     : 30%;
    height    : 2PX;
    margin-top: 50PX;
}

.cta-btn {
    display              : block;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap      : 2%;
    padding-top          : 50px;
    z-index              : 1;
    position             : relative;
}

.slider-img {
    padding-top: 100px;
}

svg {
    width : 100%;
    height: 100%;
    margin: 0 auto;
}

g#l-1 {
    animation: line-1 1s normal forwards ease-in-out;
}

*,
::after,
::before {
    box-sizing: border-box;
}

g#d3 {
    animation      : dot-3 2s normal forwards ease-in-out;
    opacity        : 0;
    animation-delay: 1s;
}

.st0 {
    opacity: .3;
    fill   : #6ee8fc
}

.st1 {
    fill: #6ee8fc
}

.st2 {
    fill: #fff
}

.st3 {
    fill: #0c2a4e
}

.st4 {
    fill: url(#SVGID_1_)
}

.st5 {
    opacity: .502;
    fill   : url(#SVGID_2_)
}

.st6 {
    fill: url(#SVGID_3_)
}

.st7 {
    opacity: .502;
    fill   : url(#SVGID_4_)
}

.st8 {
    opacity: .502;
    fill   : url(#SVGID_5_)
}

.st9 {
    fill: url(#SVGID_6_)
}

.st10 {
    opacity: .502;
    fill   : url(#SVGID_7_)
}

.st11 {
    fill: url(#SVGID_8_)
}

.st12 {
    opacity: .502;
    fill   : url(#SVGID_9_)
}

.st13 {
    opacity: .502;
    fill   : url(#SVGID_10_)
}

.st14 {
    fill: url(#SVGID_11_)
}

.st15 {
    opacity: .502;
    fill   : url(#SVGID_12_)
}

.st16 {
    fill: url(#SVGID_13_)
}

.st17 {
    opacity: .502;
    fill   : url(#SVGID_14_)
}

.st18 {
    opacity: .502;
    fill   : url(#SVGID_15_)
}

.st19 {
    opacity: .5;
    fill   : #0c2a4e
}

.st20 {
    fill: url(#SVGID_16_)
}

.st21 {
    opacity: .9;
    fill   : url(#SVGID_17_)
}

.st22 {
    fill: url(#SVGID_18_)
}

.st23 {
    opacity: .5;
    fill   : #42e8e0
}

.st24 {
    fill: url(#SVGID_19_)
}

.st25 {
    fill: url(#SVGID_20_)
}

.st26 {
    fill: url(#SVGID_21_)
}

.st27 {
    fill: #4473a3
}

.st28 {
    fill: url(#SVGID_22_)
}

.st29 {
    fill: #c701fe
}

.st30 {
    fill: #01fcfe
}

.st31 {
    fill: #febb01
}

.st32 {
    fill: #0bbad9
}

.st33 {
    enable-background: new
}

.st34 {
    fill             : none;
    stroke           : #777cba;
    stroke-width     : .5;
    stroke-miterlimit: 10
}

.st35 {
    fill: #0dd8fc
}

.st36 {
    fill: url(#SVGID_23_)
}

.st37 {
    fill             : none;
    stroke           : #01fcfe;
    stroke-width     : .5;
    stroke-linejoin  : round;
    stroke-miterlimit: 10
}

.st38 {
    fill             : #02386c;
    stroke           : #01fcfe;
    stroke-width     : .5;
    stroke-linejoin  : round;
    stroke-miterlimit: 10
}

.st39 {
    fill           : none;
    stroke         : #01fcfe;
    stroke-width   : .5;
    stroke-linecap : round;
    stroke-linejoin: round
}

.st40 {
    fill            : none;
    stroke          : #01fcfe;
    stroke-width    : .5;
    stroke-linecap  : round;
    stroke-linejoin : round;
    stroke-dasharray: .9988, 8.9892
}

.st41 {
    fill: url(#SVGID_24_)
}

.st42 {
    fill: url(#SVGID_25_)
}

.st43 {
    fill: #53960c
}

.st44 {
    fill: #f91c1c
}

.st45 {
    fill: none
}

.st46 {
    opacity          : .2;
    fill             : none;
    stroke           : #777cba;
    stroke-width     : .5;
    stroke-miterlimit: 10
}

svg {
    width : 100%;
    height: 100%;
    margin: 0 auto
}

g#l-1 {
    animation: line-1 1s normal forwards ease-in-out
}

@keyframes line-1 {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

g#d3 {
    animation      : dot-3 2s normal forwards ease-in-out;
    opacity        : 0;
    animation-delay: 1s
}

@keyframes dot-3 {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

g#d2 {
    animation      : dot-2 2s normal forwards ease-in-out;
    opacity        : 0;
    animation-delay: 1.2s
}

@keyframes dot-2 {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

g#d1 {
    animation      : dot-1 2s normal forwards ease-in-out;
    opacity        : 0;
    animation-delay: 1.4s
}

@keyframes dot-1 {
    from {
        opacity  : 0;
        transform: translateY(10px)
    }

    to {
        opacity  : 1;
        transform: translateY(0)
    }
}

g#p3 {
    animation      : p-3 2s normal forwards ease-in-out;
    opacity        : 0;
    animation-delay: 1.8s
}

@keyframes p-3 {
    from {
        opacity  : 0;
        transform: translateY(0)
    }

    to {
        opacity  : 1;
        transform: translateY(10px)
    }
}

g#p2 {
    animation      : p-2 2s normal forwards ease-in-out;
    opacity        : 0;
    animation-delay: 2s
}

@keyframes p-2 {
    from {
        opacity  : 0;
        transform: translateY(10px)
    }

    to {
        opacity  : 1;
        transform: translateY(0)
    }
}

g#p1 {
    animation      : p-1 2s normal forwards ease-in-out;
    opacity        : 0;
    animation-delay: 2.3s
}

@keyframes p-1 {
    0% {
        opacity  : 0;
        transform: translateY(10px)
    }

    100% {
        opacity  : 1;
        transform: translateY(0)
    }
}