.custom-btn {
    background     : #2042a1;
    background     : -moz-linear-gradient(90deg, rgba(32, 66, 161, 1) 0, rgba(0, 212, 255, 1) 100%);
    background     : -webkit-linear-gradient(90deg, rgba(32, 66, 161, 1) 0, rgba(0, 212, 255, 1) 100%);
    background     : linear-gradient(90deg, rgba(32, 66, 161, 1) 0, rgba(0, 212, 255, 1) 100%);
    border-radius  : 40px !important;
    box-sizing     : border-box;
    color          : #16274a;
    display        : block;
    font           : 1.125rem;
    height         : 50px;
    letter-spacing : 1px;
    margin         : 0 auto;
    padding        : 4px;
    position       : relative;
    text-decoration: none;
    text-transform : uppercase;
    width          : 180px;
    z-index        : 2;
    float          : left;
    margin-right   : 15px;
}

.custom-btn span {
    align-items    : center;
    background     : #fff;
    border-radius  : 40px;
    display        : flex;
    justify-content: center;
    height         : 100%;
    transition     : background .5s ease;
    width          : 100%;
}

.custom-btn:hover {
    color: #fff;
}

.custom-btn:hover span {
    background: 0 0;
}