.nav-item .nav-link {
    font-weight    : 400;
    font-size      : 18px;
    color          : #fff;
    text-decoration: none;
    text-transform : capitalize;
    padding        : 0.3rem 1rem;
}

.nav-item .nav-link:hover,
.nav-item .nav-link:active,
.nav-item .nav-link:focus,
.dropdown-menu.language-item .dropdown-item:active,
.dropdown-menu.language-item .dropdown-item:hover,
.dropdown-menu.language-item .dropdown-item:focus {
    background-image: linear-gradient(to left, rgba(6, 208, 189, 1), #71eee8) !important;
    background-color: #71eee8 !important;
    border-radius   : 20px !important;
    color           : #000000 !important;
}

.dropdown-menu.language-item {
    padding: 0;
    border : 0;
    top    : 35px;
}