 .h6-head {
     font-size     : 18px;
     color         : #fff;
     font-weight   : 700;
     padding-bottom: 15px;
 }

 .we-accept {
     font-size: 16px;
 }

 .v-middle {
     vertical-align: sub;
 }

 ul {
     list-style   : none;
     padding      : 0;
     margin-bottom: 0 !important;
 }

 ul li {
     font-size     : 16px;
     font-weight   : 400;
     color         : #fff;
     padding-bottom: 5px;
     padding-top   : 5px;
     list-style    : none;
     line-height   : 22px;
 }

 /* .justify-content-end.navbar-nav {
     display  : flex;
     flex-wrap: wrap;
 } */